// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$font-family: "DBHeavent";
$font-family-en: "Poppins";

$color-background: var(--v-background-base); // #ffffff
$color-surface: var(--v-surface-base); // #ffffff
$color-primary: var(--v-primary-base); // #014672
$color-primary-1: var(--v-primary-1-base); // #002b4d
$color-primary-2: var(--v-primary-2-base); // #001f37
$color-primary-darken-1: var(--v-primary-darken-1-base); // #4d4d4d
$color-primary-darken-2: var(--v-primary-darken-2-base); // #bccbd9
$color-secondary: var(--v-secondary-base); // #f04e30
$color-error: var(--v-error-base); // #b00020
$color-info: var(--v-info-base); // #2196f3
$color-success: var(--v-success-base); // #4caf50
$color-warning: var(--v-warning-base); // #fb8c00
$color-primary-dark: var(--v-primary-dark-base); // 
$color-link-blue: #265ed6;
$color-dark: #212529;
$color-gray: #757575;
$color-gray-10: #f2f2f2;
$color-gray-lighter: #9f9f9f;
$color-seven-gray: #757575;
$color-eight-gray: #E5E5E5;
$color-dark-grey: #4D4D4D;
$color-dark-grey-2: #333333;
$color-background-gray: #f9f9f9;
$color-dark-grey: #4D4D4D;
$color-gray-lighter: #9E9E9E;
$color-primary-orange: #E36A26;
$color-orange: #F04E30;
$color-gray-70: #616161;
$color-dark-blue: #BCCBD9;
